RewriteEngine on
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteCond %{HTTP_HOST} !^$
RewriteCond %{HTTP:X-Forwarded-For} ^172\.67\.203\.197$  [OR]
RewriteCond %{REMOTE_ADDR} ^104\.21\.22\.90$
RewriteRule ^(.*)$ https://www.prasiddhaacharya.com.np/$1 [L,R=301]
RewriteCond %{home} !-d
RewriteCond %{home}.html -f
RewriteRule ^(.*)$ $1.html